pkgbase = python39
	pkgdesc = Major release 3.9 of the Python high-level programming language
	pkgver = 3.9.14
	pkgrel = 2
	url = https://www.python.org/
	arch = i686
	arch = x86_64
	license = custom
	makedepends = bluez-libs
	makedepends = mpdecimal
	makedepends = gdb
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	optdepends = sqlite
	optdepends = mpdecimal: for decimal
	optdepends = xz: for lzma
	optdepends = tk: for tkinter
	provides = python=3.9.14
	source = https://www.python.org/ftp/python/3.9.14/Python-3.9.14.tar.xz
	source = mpdecimal-2.5.1.patch
	sha512sums = 691a7814cf6c7bee96d8dbb7c5c85cb11f2e999101e20491b99435cdec07c3bbd5ce43ad3d9c64f695383b79197884caa1965c4346e4525e23b09c686271e4ab
	sha512sums = 58f683cbfdc6aa84c03d068c1bc2f1d8d2c17ba4f7b632c14ab1d529d8332e767354266c3815e239427497fff1a42ec2a37739ea312d24cb76a69dcf1c98c0ad

pkgname = python39
